.locations{
    &-section{
        @extend .section;
        background-color: $default;
        background-image: url('../../images/locations-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        &__inner{
            @extend .container;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__heading{
            font-weight: 700;
            color: $white;
            text-align: center;

            &-hr{
                width: 189px;
                margin-top: 24px;
            }
        }
        &__description{
            @extend .section__description;
            color: $white;
            text-align: center;
            margin-top: 24px;
        }

        &__items-row{
            margin-top: 48px;
            display: flex;
            gap: 48px;
            flex-direction: column;
            align-items: center;
            width: 100%;
            @media (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__item{
            display: flex;
            flex-direction: column;
            gap: 24px;
            text-align: center;
            color: $white;
            align-items: center;
            max-width: 256px;
            &-image{
                max-width: 245px;
            }
            &-heading{
                color: $white;
            }
            &-address{
 
                &-list{
                    &-item{}
                }
            }
        }
    }
}
