.btn{
    display: flex;
    padding: 0px 41px;
    width: max-content;
    box-sizing: border-box;

    border-width: 2px;
    border-style: solid;

    background-color: #111111;
    border-color: #111111;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    /* identical to box height, or 300% */

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  
    cursor: pointer;

    &:hover{
        background-color: transparent;
        color:#111111;
    }

    &.btn-white{
        background-color: #ffffff;
        border-color: #ffffff;
        color: #111111;

        &:hover{
            background-color: transparent;
            color: #ffffff;
        }
        &.btn-outline{
            background-color: transparent;
            color: #ffffff;
            &:hover{
                background-color: #ffffff;
                color:#111111;
            }
        }
    }
    &.btn-outline{
        background-color: transparent;
        color: #111111;
        &:hover{
            background-color: #111111;
            color:#FFFFFF;
        }
    }
}