body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #111111;
}

.container{
    max-width: 100%;
    padding:  0 40px;
}

.section{
    padding: 96px 0;
}

img{
    max-width: 100%;
}