body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #111111;
}

.container{
    width: 100%;
    padding:  0 40px;
    box-sizing: content-box;
    margin: 0 auto;
    @media (min-width: 576px) {
        max-width: 496px;
    }
    @media (min-width: 768px) {
        max-width: 688px;
    }
    @media (min-width: 1200px) {
        max-width: 1120px;
    }
}

.section{
    padding: 96px 0;
    &__description{
        max-width: 474px;
    }
}

img{
    max-width: 100%;
}